{{!< layout}}
<form action="/petsInfo" method="post">
   

    <div class="field">
        <label class="label">Name:</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text"  name="petName">
            <span class="icon is-small is-left">
            <i class="fas fa-paw"></i>
            </span>
           
        </div>
    </div>

    <div class="field">
    <label class="label">Specie</label>
    <div class="field">
        <p class="control has-icons-left">
            <span class="select">
            <select>
                <option selected>Specie</option>
                <option value="Cat">Cat</option>
                <option value="Dog">Dog</option>
                <option value ="Other">Other</option>
            </select>
            </span>
            <span class="icon is-small is-left">
            <i class="fas fa-dog"></i>
            </span>
        </p>
    </div>
    </div>
    <div class="field">
        <label class="label">Age</label>
        <div class="control">
            <label class="radio">
                <input type="radio" name="Adulto - De 3 a 6 años">
                Adulto - De 3 a 6 años
            </label>
            <label class="radio">
                <input type="radio" name="Cachorro - De 0 a 1.5 años">
                Cachorro - De 0 a 1.5 años
            </label>
             <label class="radio">
                <input type="radio" name="Joven - De 1.5 a 3 años">
                Joven - De 1.5 a 3 años
            </label>
            <label class="radio">
                <input type="radio" name="Joven - De 1.5 a 3 años">
                Joven - De 1.5 a 3 años
            </label>
        </div>
    </div>

    <div class="field">
        <label class="label">Age:</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="number"  name="petAge">
            <span class="icon is-small is-left">
            <i class="fas fa-paw"></i>
            </span>
        </div>
    </div>
     <div class="field">
        <label class="label">Size:</label>
        <div class="control">
            <label class="radio">
                <input type="radio" name="Extra Grande - Más de 45 Kg.">
                Extra Grande - Más de 45 Kg.
            </label>
            <label class="radio">
                <input type="radio" name="Grande - De 22 Kg. a 45 Kg.">
                Grande - De 22 Kg. a 45 Kg.
            </label>
             <label class="radio">
                <input type="radio" name="Mediano - De 11 Kg. a 22 Kg.">
                Mediano - De 11 Kg. a 22 Kg.
            </label>
            <label class="radio">
                <input type="radio" name=" Pequeño - De 5 Kg. a 11kg.">
                 Pequeño - De 5 Kg. a 11kg.
            </label>
            <label class="radio">
                <input type="radio" name="Muy pequeño - Hasta 5 Kg.">
                 Muy pequeño - Hasta 5 Kg.
            </label>
        </div>
    </div>
    <div class="field">
    <label class="label">Esterilizado</label>
    <div class="field">
        <p class="control has-icons-left">
            <span class="select">
            <select>
                <option selected>Esterilizado</option>
                <option value="Si">Si</option>
                <option value="No">No</option value="No">
            </select>
            </span>
            <span class="icon is-small is-left">
            <i class="fas fa-dog"></i>
            </span>
        </p>
    </div>
    </div>

    <div class="field is-grouped">
    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
    <div class="control">
        <button class="button is-link is-light">Cancel</button>
    </div>
    </div>
</form>
